
body {
      display:-webkit-box;
      display:-ms-flexbox;
      display:flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      min-height: 100vh;
      padding: 0;
      margin: 0;
      font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen-Sans,Ubuntu,Cantarell,'Helvetica Neue',sans-serif;
      font-size: 120%;
      color: #41545e;
      background:-webkit-linear-gradient(bottom left, rgba(117,221,255,.8),rgba(67,156,186,.8)), url('bg.svg');
      background-image: linear-gradient(to bottom left,rgba(117,221,255,.8),rgba(67,156,186,.8)), url('bg.svg');           
    }
    /* Liens */
    a {
      display: inline-block;
      padding: 0.3em 0.7em;
      margin-bottom: 0.5em;
      margin-right: 0.5em;
      color: currentColor;
      text-decoration: none;
      background: rgba(255,255,255,0.3);
      border-radius: 2px;      
      transition: all 0.4s;
    }
    a:hover {
      background: rgba(255,255,255,0.6);
      box-shadow: 0px 0px 10px 0 rgba(00,00,00,0.3);
    }
    a:focus,
    a:active {
      background: rgba(255,255,255,0.9);
      box-shadow: 0px 0px 10px 0 rgba(00,00,00,0.3);
    }
    /* Paragraphes */
    p {
      margin: 1em 0;
    }
    /* Content */
    #wrapper {
      padding: 1em;
      margin: 0.625em;
      background: rgba(255,255,255,0.35);
      border-radius: 2px;
      box-shadow: 1px 1px 10px 0 rgba(00,00,00,0.15);
    }
    /* Header */
    .content-header {
      display:-webkit-box;
      display:-ms-flexbox;
      display:flex;
          -webkit-box-pack: justify;
              -ms-flex-pack: justify;
                  justify-content: space-between;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
    }
    h1 {
      margin: 0;
      margin-left: 0.5em;
      font-family: 'Oswald', sans-serif;
      font-weight: 400;
      line-height: 1;
      color: rgba(255,255,255,0.95);
    }
    /* Body */
    .content-body {
      padding: 1.125em;
      margin: 2em 0;
      text-align: center;
      background: rgba(255,255,255,0.3);
      border-radius: 2px;
    }
    /* Footer */
    .content-footer {
      text-align: center;
    }
    .content-footer p:first-child {
      margin-bottom: 0.3em;
    }
    .content-footer p + p{
      padding: 0.3em 0;
      margin: 0;
    }
